:root {
  --color-primary: #01022e;
  --color-secundary: #4800FF;
  --color-tertiary: #12D57D;
  --color-error: #f91b24;
  --black: #313131;
  --gray: #5a6262;
  --white: #fcfafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


